<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Login Page</title>
</head>
<body>
    <%- include("navigation", {userData: userData}) %>

    <h1>Login Form</h1>
    <form action="/login" method="POST">
        <label>Library Card Number:</label>
        <input type="text" name="libcardnum" />
        <label>Password:</label>
        <input type="text" name="password" />
        <button>Login</button>
    </form>
          
</body>
</html>